<!-- Navbar Component -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="img/visao logo.png" alt="Visão Informática" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="index.html" data-page="index">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="planos.html" data-page="planos">Planos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="sobre.html" data-page="sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold nav-link-clientes" href="https://glpi.visaoinformaticapb.com.br/">Área do cliente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>